
<p>UserLogin</p>

<form [formGroup]="userLogin" (ngSubmit)="userLogin &&userLogin()">

    <div>
        <label>Name</label>
        <input type="text" formControlName="username">
    </div>



<div *ngIf="usernameCtrl.errors != null && usernameCtrl.errors.required" class="error">
Username is required
</div>

    <div *ngIf="usernameCtrl.errors != null && usernameCtrl.errors.minlength" class="error">
    Minimum length is 8
    </div>
    <div>
        <label>password</label>
        <input type="text" formControlName="password">
    </div>
    
    <div *ngIf="passwordCtrl.errors != null && passwordCtrl.errors.required" class="error">
    password is required
    </div>
        <input type="submit" formControlName="Submit" class="btn btn-dark btn-lg" >
       
    </form>
    <br>

    <div *ngIf="user!=undefined">
        <h2>userLogin</h2>
        {{user.UserName}}
        {{user.password}}
        </div>