<div class="container form-group" text-align="center" align="center">
    <h1 class="text-center">Admin Login Here!</h1>
    <form [formGroup]="adminLoginForm" (ngSubmit)="onAdminLoginFormSubmit">
      <table>
        <tr>
          <td><label>Username</label> </td>
          <td>
            <input type="text" formControlName="username" placeholder="Enter Username">
            <div *ngIf="adminLoginForm.get('username').errors  && isSubmitted">
              <div *ngIf="adminLoginForm.get('Username')">
                
              </div>
             
            </div>
          </td>
        </tr>
        <tr>
          <td><label>Password</label></td>
          <td>
            <input type="password" formControlName="password" placeholder="Enter password">
            <div *ngIf="adminLoginForm.get('password').errors  && isSubmitted">
              <div *ngIf="adminLoginForm.get('password')">
                
              </div>
             
             
              
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <button type="submit" class="btn btn-info btn-lg">LOGIN</button>
          </td>
        </tr>
      </table>
    </form>
    <div class="alert alert-danger" *ngIf="checkError">
      <strong>ERROR!</strong> {{errorMessage}}
    </div>
    <div class="alert alert-success" *ngIf="checkInfo">
      <strong>SUCCESS!</strong> {{infoMessage}}
    </div>
  </div>