<nav class="navbar navbar-expand-lg navbar-primary bg-dark">
    <a class="navbar-brand" href="" routerLink="app-home">Online Wallet</a>
  
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-support">
  
      <span class="navbar-toggler-icon"></span>
    </button>
    
  
    <div class="collapse navbar-collapse" id="navbar-support">
      <ul class="navbar-nav">
  
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="add-user">Register user</a>
  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="user-login">user login</a>

        </li>
  
  
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="admin-login">admin login</a>

          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="users-list">users list</a>
  
            </li>

  
      </ul>
    </div>
  </nav>
  
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div style="margin-top: 50px;margin-bottom: 20px;">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="offset-md-1 col-md-2">
        <div style="margin-top: 50px;margin-bottom: 20px;">
          <h3>Our Ads</h3>
  
          <div>
            visit our website
            <a href="https://www.phonepe.com/">Visit phonepe</a>
            <img src ="..\assets\phonepe image.png" width="200" height="200">
            
          </div>
  
          <div>
            
            visit our website
            <a href="https://www.paytm.in/">Visit paytm</a>
            <img src="..\assets\0_y2R3Xx0JxnMMJY1M.jpg" width="200" height="100">
            
        </div>
  
  
        <div>
          visit our website
          <a href="https://www.googlepay.com/">Visit googlepay </a>
          <img src= "..\assets\kisspng-google-pay-send-android-computer-icons-5b6f01c8cda979.9767788215340016088424.jpg" width="200" height="200">
          
        </div>
  
      </div>
    </div>
  </div>
  </div>